PyQt5==5.15.11
PyQt5-Qt5==5.15.15
PyQt5_sip==12.15.0
insightface==0.7.3
onnxruntime==1.19.2
torch==2.5.1
transformers==4.46.1
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
Flask==3.0.3
librosa==0.10.0
sounddevice==0.5.1
soundfile==0.12.1
torchaudio==2.5.1
TTS==0.22.0
numpy==1.22.0
requests==2.32.3
tqdm==4.66.6
